<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>783983836933-fve2qiapbh5lq9eijschau5iirn26l63.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783983836933-fve2qiapbh5lq9eijschau5iirn26l63</string>
	<key>API_KEY</key>
	<string>AIzaSyCjg09gUow9yjjwgHLeFvxTpKfN2m3yDcE</string>
	<key>GCM_SENDER_ID</key>
	<string>783983836933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseLogin</string>
	<key>PROJECT_ID</key>
	<string>login-demo-a71b1</string>
	<key>STORAGE_BUCKET</key>
	<string>login-demo-a71b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783983836933:ios:4e5ae891e5959fae</string>
	<key>DATABASE_URL</key>
	<string>https://login-demo-a71b1.firebaseio.com</string>
</dict>
</plist>